<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /central-ajuda/public/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [L]
</IfModule>

<Files .htaccess>
  Require all denied
</Files>
