/*Azul escuro - #2d2d2d */
.pers-publico-botao.template-cor-1                                            { background-color: #2d2d2d; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-1                                     { background: radial-gradient(circle, #3a3a3a, #2d2d2d, #1a1a1a); color: #ffffff; }
.pers-publico-lupa.template-cor-1                                             { color: #2d2d2d; }
.pers-publico-tag-cate.template-cor-1                                         { color: #2d2d2d; }
.pers-publico-seta-artigo.template-cor-1                                      { color: #2d2d2d; }
.pers-publico-busca-pag.template-cor-1                                        { color: #ffffff; border: 1px solid #2d2d2d; background-color: #2d2d2d; }
.pers-publico-busca-pag-input.template-cor-1                                  { border: 1px solid #2d2d2d; }
.pers-publico-artigo.template-cor-1.publico-artigo-blocos a                   { color: #1E40AF; text-decoration: none; }
.pers-publico-artigo.template-cor-1.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-1.dashboard-pre-visualizacao a              { color: #1E40AF; text-decoration: none; }
.pers-publico-artigo.template-cor-1.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Laranja - #f05829 */
.pers-publico-botao.template-cor-2                                            { background-color: #f05829; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-2                                     { background: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,71,11) 100%); color: #ffffff; }
.pers-publico-lupa.template-cor-2                                             { color: #f05829; }
.pers-publico-tag-cate.template-cor-2                                         { color: #f05829; }
.pers-publico-seta-artigo.template-cor-2                                      { color: #f05829; }
.pers-publico-busca-pag.template-cor-2                                        { color: #ffffff; border: 1px solid #f05829; background-color: #f05829; }
.pers-publico-busca-pag-input.template-cor-2                                  { border: 1px solid #f05829; }
.pers-publico-artigo.template-cor-2.publico-artigo-blocos a                   { color: #f05829; text-decoration: none; }
.pers-publico-artigo.template-cor-2.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-2.dashboard-pre-visualizacao a              { color: #f05829; text-decoration: none; }
.pers-publico-artigo.template-cor-2.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Cinza azulado - #4A5568 */
.pers-publico-botao.template-cor-8                                            { background-color: #4A5568; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-8                                     { background: radial-gradient(circle, #5b6878, #4a5568, #353e49); color: #ffffff; }
.pers-publico-lupa.template-cor-8                                             { color: #4A5568; }
.pers-publico-tag-cate.template-cor-8                                         { color: #4A5568; }
.pers-publico-seta-artigo.template-cor-8                                      { color: #4A5568; }
.pers-publico-busca-pag.template-cor-8                                        { color: #ffffff; border: 1px solid #4A5568; background-color: #4A5568; }
.pers-publico-busca-pag-input.template-cor-8                                  { border: 1px solid #4A5568; }
.pers-publico-artigo.template-cor-8.publico-artigo-blocos a                   { color: #4A5568; text-decoration: none; }
.pers-publico-artigo.template-cor-8.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-8.dashboard-pre-visualizacao a              { color: #4A5568; text-decoration: none; }
.pers-publico-artigo.template-cor-8.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Roxo escuro - #4B0082 */
.pers-publico-botao.template-cor-9                                            { background-color: #4B0082; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-9                                     { background: radial-gradient(circle, #5c009e, #4b0082, #3b0067); color: #ffffff; }
.pers-publico-lupa.template-cor-9                                             { color: #4B0082; }
.pers-publico-tag-cate.template-cor-9                                         { color: #4B0082; }
.pers-publico-seta-artigo.template-cor-9                                      { color: #4B0082; }
.pers-publico-busca-pag.template-cor-9                                        { color: #ffffff; border: 1px solid #4B0082; background-color: #4B0082; }
.pers-publico-busca-pag-input.template-cor-9                                  { border: 1px solid #4B0082; }
.pers-publico-artigo.template-cor-9.publico-artigo-blocos a                   { color: #4B0082; text-decoration: none; }
.pers-publico-artigo.template-cor-9.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-9.dashboard-pre-visualizacao a              { color: #4B0082; text-decoration: none; }
.pers-publico-artigo.template-cor-9.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }