/*Azul escuro - #2d2d2d */
.pers-publico-botao.template-cor-1                                            { background-color: #2d2d2d; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-1                                     { background: radial-gradient(circle, #3a3a3a, #2d2d2d, #1a1a1a); color: #ffffff; }
.pers-publico-lupa.template-cor-1                                             { color: #2d2d2d; }
.pers-publico-tag-cate.template-cor-1                                         { color: #2d2d2d; }
.pers-publico-seta-artigo.template-cor-1                                      { color: #2d2d2d; }
.pers-publico-busca-pag.template-cor-1                                        { color: #ffffff; border: 1px solid #2d2d2d; background-color: #2d2d2d; }
.pers-publico-busca-pag-input.template-cor-1                                  { border: 1px solid #2d2d2d; }
.pers-publico-artigo.template-cor-1.publico-artigo-blocos a                   { color: #1E40AF; text-decoration: none; }
.pers-publico-artigo.template-cor-1.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-1.dashboard-pre-visualizacao a              { color: #1E40AF; text-decoration: none; }
.pers-publico-artigo.template-cor-1.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Laranja - #f05829 */
.pers-publico-botao.template-cor-2                                            { background-color: #f05829; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-2                                     { background: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,71,11) 100%); color: #ffffff; }
.pers-publico-lupa.template-cor-2                                             { color: #f05829; }
.pers-publico-tag-cate.template-cor-2                                         { color: #f05829; }
.pers-publico-seta-artigo.template-cor-2                                      { color: #f05829; }
.pers-publico-busca-pag.template-cor-2                                        { color: #ffffff; border: 1px solid #f05829; background-color: #f05829; }
.pers-publico-busca-pag-input.template-cor-2                                  { border: 1px solid #f05829; }
.pers-publico-artigo.template-cor-2.publico-artigo-blocos a                   { color: #f05829; text-decoration: none; }
.pers-publico-artigo.template-cor-2.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-2.dashboard-pre-visualizacao a              { color: #f05829; text-decoration: none; }
.pers-publico-artigo.template-cor-2.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Marrom Escuro - #5D4037 */
.pers-publico-botao.template-cor-3                                            { background-color: #5D4037; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-3                                     { background: radial-gradient(circle, #6d4f44, #5d4037, #4b322c); color: #ffffff; }
.pers-publico-lupa.template-cor-3                                             { color: #5D4037; }
.pers-publico-inicio-blocos.template-cor-3:hover                              { color: #ffffff; background-color: #5D4037; }
.pers-publico-inicio-blocos.template-cor-3:hover .bloco-categoria-descricao   { color: #ffffff; background-color: #5D4037; }
.pers-publico-tag-cate.template-cor-3                                         { color: #5D4037; }
.pers-publico-seta-artigo.template-cor-3                                      { color: #5D4037; }
.pers-publico-busca-pag.template-cor-3                                        { color: #ffffff; border: 1px solid #5D4037; background-color: #5D4037; }
.pers-publico-busca-pag-input.template-cor-3                                  { border: 1px solid #5D4037; }
.pers-publico-artigo.template-cor-3.publico-artigo-blocos a                   { color: #5D4037; text-decoration: none; }
.pers-publico-artigo.template-cor-3.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-3.dashboard-pre-visualizacao a              { color: #5D4037; text-decoration: none; }
.pers-publico-artigo.template-cor-3.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Verde Escuro 2 - #006400 */
.pers-publico-botao.template-cor-4                                            { background-color: #006400; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-4                                     { background: radial-gradient(circle, #007a00, #006400, #004d00); color: #ffffff; }
.pers-publico-lupa.template-cor-4                                             { color: #006400; }
.pers-publico-tag-cate.template-cor-4                                         { color: #006400; }
.pers-publico-seta-artigo.template-cor-4                                      { color: #006400; }
.pers-publico-busca-pag.template-cor-4                                        { color: #ffffff; border: 1px solid #006400; background-color: #006400; }
.pers-publico-busca-pag-input.template-cor-4                                  { border: 1px solid #006400; }
.pers-publico-artigo.template-cor-4.publico-artigo-blocos a                   { color: #006400; text-decoration: none; }
.pers-publico-artigo.template-cor-4.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-4.dashboard-pre-visualizacao a              { color: #006400; text-decoration: none; }
.pers-publico-artigo.template-cor-4.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Verde Escuro - #2E8B57 */
.pers-publico-botao.template-cor-5                                            { background-color: #2E8B57; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-5                                     { background: radial-gradient(circle, #389b67, #2e8b57, #226c42); color: #ffffff; }
.pers-publico-lupa.template-cor-5                                             { color: #2E8B57; }
.pers-publico-tag-cate.template-cor-5                                         { color: #2E8B57; }
.pers-publico-seta-artigo.template-cor-5                                      { color: #2E8B57; }
.pers-publico-busca-pag.template-cor-5                                        { color: #ffffff; border: 1px solid #2E8B57; background-color: #2E8B57; }
.pers-publico-busca-pag-input.template-cor-5                                  { border: 1px solid #2E8B57; }
.pers-publico-artigo.template-cor-5.publico-artigo-blocos a                   { color: #2E8B57; text-decoration: none; }
.pers-publico-artigo.template-cor-5.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-5.dashboard-pre-visualizacao a              { color: #2E8B57; text-decoration: none; }
.pers-publico-artigo.template-cor-5.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Bordô - #800020 */
.pers-publico-botao.template-cor-6                                            { background-color: #800020; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-6                                     { background: radial-gradient(circle, #990033, #800020, #5f0017); color: #ffffff; }
.pers-publico-lupa.template-cor-6                                             { color: #800020; }
.pers-publico-tag-cate.template-cor-6                                         { color: #800020; }
.pers-publico-seta-artigo.template-cor-6                                      { color: #800020; }
.pers-publico-busca-pag.template-cor-6                                        { color: #ffffff; border: 1px solid #800020; background-color: #800020; }
.pers-publico-busca-pag-input.template-cor-6                                  { border: 1px solid #800020; }
.pers-publico-artigo.template-cor-6.publico-artigo-blocos a                   { color: #800020; text-decoration: none; }
.pers-publico-artigo.template-cor-6.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-6.dashboard-pre-visualizacao a              { color: #800020; text-decoration: none; }
.pers-publico-artigo.template-cor-6.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Verde musgo - #556B2F */
.pers-publico-botao.template-cor-7                                            { background-color: #556B2F; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-7                                     { background: radial-gradient(circle, #67783a, #556b2f, #404f22); color: #ffffff; }
.pers-publico-lupa.template-cor-7                                             { color: #556B2F; }
.pers-publico-tag-cate.template-cor-7                                         { color: #556B2F; }
.pers-publico-seta-artigo.template-cor-7                                      { color: #556B2F; }
.pers-publico-busca-pag.template-cor-7                                        { color: #ffffff; border: 1px solid #556B2F; background-color: #556B2F; }
.pers-publico-busca-pag-input.template-cor-7                                  { border: 1px solid #556B2F; }
.pers-publico-artigo.template-cor-7.publico-artigo-blocos a                   { color: #556B2F; text-decoration: none; }
.pers-publico-artigo.template-cor-7.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-7.dashboard-pre-visualizacao a              { color: #556B2F; text-decoration: none; }
.pers-publico-artigo.template-cor-7.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Cinza azulado - #4A5568 */
.pers-publico-botao.template-cor-8                                            { background-color: #4A5568; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-8                                     { background: radial-gradient(circle, #5b6878, #4a5568, #353e49); color: #ffffff; }
.pers-publico-lupa.template-cor-8                                             { color: #4A5568; }
.pers-publico-tag-cate.template-cor-8                                         { color: #4A5568; }
.pers-publico-seta-artigo.template-cor-8                                      { color: #4A5568; }
.pers-publico-busca-pag.template-cor-8                                        { color: #ffffff; border: 1px solid #4A5568; background-color: #4A5568; }
.pers-publico-busca-pag-input.template-cor-8                                  { border: 1px solid #4A5568; }
.pers-publico-artigo.template-cor-8.publico-artigo-blocos a                   { color: #4A5568; text-decoration: none; }
.pers-publico-artigo.template-cor-8.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-8.dashboard-pre-visualizacao a              { color: #4A5568; text-decoration: none; }
.pers-publico-artigo.template-cor-8.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }

/*Roxo escuro - #4B0082 */
.pers-publico-botao.template-cor-9                                            { background-color: #4B0082; color: #ffffff; }
.pers-publico-inicio-busca.template-cor-9                                     { background: radial-gradient(circle, #5c009e, #4b0082, #3b0067); color: #ffffff; }
.pers-publico-lupa.template-cor-9                                             { color: #4B0082; }
.pers-publico-tag-cate.template-cor-9                                         { color: #4B0082; }
.pers-publico-seta-artigo.template-cor-9                                      { color: #4B0082; }
.pers-publico-busca-pag.template-cor-9                                        { color: #ffffff; border: 1px solid #4B0082; background-color: #4B0082; }
.pers-publico-busca-pag-input.template-cor-9                                  { border: 1px solid #4B0082; }
.pers-publico-artigo.template-cor-9.publico-artigo-blocos a                   { color: #4B0082; text-decoration: none; }
.pers-publico-artigo.template-cor-9.publico-artigo-blocos a:hover             { text-decoration: underline; }
.pers-publico-artigo.template-cor-9.dashboard-pre-visualizacao a              { color: #4B0082; text-decoration: none; }
.pers-publico-artigo.template-cor-9.dashboard-pre-visualizacao a:hover        { text-decoration: underline; }